<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SQLtut1.Properties.Settings.AdressBookConnectionString"
            connectionString="Data Source=DESKTOP-BC1H151\SQLEXPRESS;Initial Catalog=AdressBook;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>